// Login
.login {
  border: 1px solid black;
  margin: auto;
  padding: auto;
  align-content: center;
  text-align: center;
}

// code-block
.code-block {
  align-content: center;
  text-align: center;
}

.register {
  align-content: center;
  text-align: center;
}

.leaderboard {
  background: black;
  font-family: press_start_2pregular, Courier New, Courier, monospace;
  font-weight: 900;
  color: #BFBF1D;
  border: 1px solid black;
}

.ranking:hover {
  background: #B1D7DE;
}

span {
  color: orange;
}

p {
  color: blue;
  font-size: 45px;
}

#error {
  color: red;
  font-size:20px;
}

#clock {
  padding-top: 10px;
}

#errorbox {
  padding-top: 10px;
}

#header {
  color: red;
  margin: 0 auto;
  padding: auto;
  text-align: center;
  width: 140px;
}

h1 {
  border: 1px solid black;  
}

