
div {
  white-space: pre-wrap;
}

span {
  color: orange;
}

p {
  color: blue;
  font-size: 45px;
  padding-right: 15%;
}

#error {
  color: red;
  font-size:20px;
}

#clock {
  margin-left: 5%;
  padding-top: 10px;
}
//
#errorbox {
  padding-top: 10px;
}
//
// #input {
//   margin-left: 40%;
// }


#header {
  color: red;
  margin-left: 38%;
}

#content {
  margin-left: 30%;
}
